$orange: #dc552c;
$primary: #404969;

.trending-card {
  color: $primary;
  width: 100%;

  background-color: #fff;
  box-shadow: -5px 10px 60px $gray;
  transition: all 0.3s ease-in-out;
  padding: 20px;
  margin: 20px;

  .trending-card-main-img {
    border-radius: 20%;
    width: 50px;
    display: inline-block;
    margin-bottom: 35px;
  }
  .trending-card-header {
    display: inline-block;
    padding: 0px 20px;
    h4 {
      font-size: 18px;
      font-weight: 600;
    }
    p {
      font-size: 15px;
    }
  }
  .trending-card-repos {
    color: $orange;
    font-size: 20px;
  }
  .trending-card-language {
    font-size: 13px;
    .trending-card-language-icon {
      color: rgb(218, 205, 91);
      display: inline-block;
      margin-right: 8px;
    }
    p {
      font-size: 16px;
    }
  }
  .trending-card-author {
    margin-left: 20px;
  }
  .trending-card-author-img {
    border-radius: 50%;
    width: 20px;
    display: inline-block;
    margin-left: 10px;
  }
  .trending-card-description {
    margin-top: 10px;
    font-size: 14px;
    height: 60px;
    overflow: hidden;
  }
  .repoLable {
    font-size: 12px;
  }
}
