$orange: #dc552c;
$primary: #404969;

.trending-page-header {
  color: $primary;
  margin-top: 15px;
}

.trending-card {
  color: $primary;
  width: 100%;
  background-color: #fff;
  box-shadow: -5px 10px 60px $gray;
  transition: all 0.3s ease-in-out;
  padding: 20px;
  margin: 20px 0;

  .trending-card-main-img {
    border-radius: 20%;
    width: 50px;
    display: inline-block;
    margin-bottom: 35px;
  }
  .trending-card-header {
    display: inline-block;
    padding: 0px 20px;
    h4 {
      font-size: 18px;
      font-weight: 600;
    }
    a {
      font-size: 15px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .trending-card-repos {
    font-size: 20px;
    height: 30px;
    overflow: hidden;
    a {
      color: $orange;
    }
  }

  .trending-card-info {
    margin-top: 5px;
    font-size: 13px;
    .trending-card-language {
      margin-right: 20px;
    }
    .trending-card-language-icon {
      color: $orange;
      display: inline-block;
      margin-right: 8px;
    }
  }

  .trending-card-author-img {
    border-radius: 50%;
    width: 18px;
    display: inline-block;
    margin-left: 3px;
  }
  .trending-card-description {
    margin-top: 10px;
    font-size: 14px;
    height: 60px;
    overflow: hidden;
  }
  .repoLable {
    font-size: 12px;
  }
}
